* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 
 header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
 }
 
 .logo {
    text-decoration: none;
    color: goldenrod;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
 }
 
 .navigation a {
    color: goldenrod;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
 
 }
 
 .navigation a:hover {
    color: #B99470;
 }
 
 section {
    padding: 100px 200px;
 }
 
 .main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("./Img/672e2ef59a1762de9c7fe05326f21930.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 800px 700px;
    background-position-y: 150px;
    background-position-x: right;
 }
 
 .main h2 {
    color: goldenrod;
    font-size: 2.2em;
    font-weight: 500;
 
 }
 .o {
   font-size: 50px;
   text-align: center;
 }
 
 .main h2 span {
    display: inline-block;
    margin-top: 15px;
    color: #666;
    font-size: 1em;
    font-weight: 400;
 }
 
 .main-btn {
    color: white;
    background-color: goldenrod;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
 
 }
 
 .main-btn:hover {
    background-color: #B99470;
    transform: scale(1.1);
 }
 
 .social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
 
 }
 
 .title {
    display: flex;
    justify-content: center;
    color: #B99470;
    font-weight: 800;
    font-size: 2.2em;
    margin-bottom: 30px;
 }
 
 .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
 
 }
 
 .card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transform: 0.7 ease;
 }
 
 .card:hover {
    transform: scale(1.1);
 }
 
 .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
 }
 
 .information {
    text-align: center;
    font-size: 30px;
    color: #666;
 }
 .z {
    text-align: left;
    text-indent: 3px;
    color: #666;
 }
 .x {
    font-size: 50px;
    color: goldenrod;
 
 }
 .m {
    color: #666;
 }
 .v {
    text-indent: 30px;
    font-size: 20px;
    color: #666;
 }
 .p {
    margin-left: 700px;
 }
 .h {
    text-align: center;
    color: #B99470;
 }
 .b {
    text-align: center;
    color: #B99470;
    
 }
 .j {
    font-size: 40px;
    color: #B99470;
    text-indent: 900px;
 }
 .a {
    display: flex;
 }
 
 
 .u {
    color: #B99470;
    text-align: center;
    
 }
 
 .information h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
 }
 
 .projects {
    background-color: #000016;
    display: flex;
    justify-content: center;
 }
 
 .skills h3 {
 
    font-size: 1.4em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 26px;
    flex-direction: row;
    color: aquamarine;
    border-radius: 10;
 }
 .mohamed h2 {
    font-size: 500;
 }
 
 .more-inf{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 20px gray;
    width: 60%;
    position: absolute;
    left: 20%;
    overflow: hidden;
 }
 
 
 .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 20px;
 
 }
 
 .details img {
    width:50px;
    height: 50px;
    border: 100px ;
    border-radius: 50px;
    margin-right: 10px;
 }
 .details img:hover{
    scale: 1.1;
 }
.y {
   background-color: #E1F7F5;
}
.tab {
   /* margin-top: 200px; */
   margin-bottom: 700px;
   width: 500px;
   height: 50%;
   font-size: 30px;
   margin-left: 700px;
   display: flex; 

}
.w {
   margin-top: 130px;
   color: #B99470;
   font-size: 40px;
   text-indent: 30px;
   text-align: center;
}
.ph {
   width: 500px;
   text-align: center;
   margin-left: 700px;
}
.no {
   margin-top: 800px;
   
}