@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0,0,0);
}

span {
    font-size: 9rem;
    color: #DAA520;
}

h6 {
    font-size: 1.1rem;
    color: (0,0,0);
}
/* First pic */
#home {
background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("imgs/background.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

home p {
    width:50%;
    color: #fff;
    font-size: 0.9rem;
    line-height:25px;
}
/*features*/

#features {
    padding: 5vw 8vw 0 5vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;
    margin-top: 50px;
}

#features .fea-box {
    flex: 0 0 calc(50% - 20px);
    background: #F9F9FF;
    text-align: start;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    margin-bottom: 10px;
}

#features .fea-box p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}

/*courses*/

/*table*/
.caption{
      text-align: center;
      font-size: 24px;
      margin-top: 20px;
}
.filter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: transparent;
    opacity: 0.7;
}

table {
    position: relative;
    z-index: 0;
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,0.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    margin-bottom: 200;
}

td , th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: #DAA520;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

#registration {
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url("imgs/signup.jpeg");
    padding: 6vw 8vw;
    width: 100%;
    background-size: cover;
    height: 100%;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#registration .remainder h1 {
    color: #fff;
}

#registration .form {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
}

#registration .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#registration .form .btn {
    margin-top: 20px;
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(0,0,0);
    outline: none;
}

#registration form a.blue {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(21, 21, 100);
    background: #7393B3;
    transition: 0.3s ease;
}

#registration .form a.blue:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

.map {
    position: absolute;
    top: calc(100% + 20px); /* Adjust the distance from the registration form */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border: none;
}

p.map {
  margin: auto; /* Center horizontally */
  margin-top: 30vh; /* Adjust vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it's above other content */
}

i {
    font-size: 150px;
    cursor: pointer;
}


@media (max-width:475px) {
  @registration {
display: flex;
flex-direction: column;
justify-content: Center;
align-items: center;
text-align:center;
}}

#registration .reminder .time {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}
