@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
.main{
    padding: 100px 200px;
    color: rgb(255, 255, 255);
    background: url(imgs/khan.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
}
.main h1 span{
    color: rgb(48, 33, 6);
    font-size:300% ;
    transition: 0.15s;
}
span:hover{
  background-color: rgb(179, 110, 41);
  border-radius: 10px;
  border: 1px solid transparent;
}
.para{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(48, 33, 6);
}
.para h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.para p{
    margin-bottom: 30px;
}
.mu{
    width: 300px;
    height: 250px;
    object-fit: contain;
    object-position: center;
    margin-right: 30px;
    margin-left: 10px;
}
.hu{
    width: 300px;
    height: 250px;
    object-fit: contain;
    object-position: center;
    margin-right: 30px;
    
}
.we{
    width: 320px;
    height: 250px;
    object-fit: contain;
    object-position: center;
}
.li{
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    margin-left: 200px;
    margin-top: 40px;

}
.kh{
    margin-top: 50px;
    color: rgb(48, 33, 6);
    background-color: rgb(179, 110, 41)
}
.kh h3{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 200px;
}
.kh p{
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
    width: 500px;
    margin-bottom: 50px;
}
.eat{
    
    
    color: rgb(48, 33, 6);
}
.eat h3{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.eat p{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}
ul{
  margin-left: 210px;
}
.be{
    display: flex;
    background-color: rgb(179, 110, 41);
    height: 250px;
    flex-direction: column;
}
.hhh{
    color: rgb(48, 33, 6);
    margin-left: 200px;
    margin-top: 50px;
}
.map a {
  color: rgb(48, 33, 6);
  font-size: 100%;
  margin-left: 200px;
}
.container {
  background-color:rgb(179, 110, 41) ;
  width: 100%;
}
.image-list{
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 50px;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}