* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
}

section {
  padding: 2rem 9%;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
}

.home .content h1 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.home .controls .video-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 .5rem;
}

.home .controls .video-btn.blue {
  background: var(--blue);
}

h2 {
  color: black;
}

.history {
  background-color: #f1c40f;
  color: black;
  padding: 100px;
}

.gallary .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallary .container .box {
  overflow: hidden;
  flex: 1 1 calc(30% - 20px);
  margin: auto;
  height: 25rem;
  border-radius: .5rem;
  border: 1rem solid #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.gallary .container .box img {
  width: 50%;
  height: auto;
}

.gallary .container .box .content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #f1c40f;
  padding: 5rem 2rem 2rem;
  top: -100%;
  left: 0;
}

.gallary .container .box:hover .content {
  top: 0;
}

.h5 {
  margin-top: 20px;
  margin-left: 550px;
}

p.map {
  margin-top: 30px;
  margin-left: 400px;
}
i{
    font-size: 150px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it's above other content */
}

i {
    font-size: 150px;
    cursor: pointer;
}
